# Fichier d'exemple pour les variables d'environnement (.env.example)
# En dev local, copiez ce fichier vers ".env" et remplissez les vraies valeurs.
# En CI/CD (GitHub Actions) ou en Prod, injectez ces variables directement dans le système.

# Port du serveur NestJS (Optionnel, défaut: 3000)
PORT=3000


# Clé secrète pour signer les JWT (Requis, doit être une chaîne très robuste en production)
JWT_SECRET=super_secret_jwt_key_example

# Durée d'expiration du token JWT (Optionnel, défaut: 1d)
JWT_EXPIRATION=1d

# Identifiants du compte Administrateur par défaut pour le script de Seeding (Optionnel)
ADMIN_DEFAULT_EMAIL=admin@votre-domaine.com
ADMIN_DEFAULT_PASSWORD=votre_mot_de_passe_admin_tres_securise

# Mot de passe par défaut pour les vendeurs créés par le script de Seeding (Optionnel)
SELLER_DEFAULT_PASSWORD=votre_mot_de_passe_vendeur_tres_securise
